@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.inputBox,
.selectBox {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: white;
  outline: none;
}

.inputBox:focus,
.selectBox:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.textbox {
  background-color: #ef8080;
  border-radius: 1rem;
  padding: 0.5rem;
}

.select {
  background-color: #ef8080;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.shortDesc {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  width: 100%;
  background-color: #ef8080;
  height: 9rem;
  resize: none;
}
